.final {
  .section-title {
    margin-bottom: 22px;
    color: #000 !important;
  }

  .section-subtitle {
    margin-bottom: 15px;
  }

  .final-conteudo {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      text-align: center;
      margin-bottom: 40px;
    }

    .social-icons {
      width: 40%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}