.funcionalidades {
  .section-title {
    margin-bottom: 28px;
    color: #000 !important;
  }

  .funcionalidades-conteudo {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  img {
    width: 100%;
  }

  .funcionalidade-item {
    p {
      text-align: center;
      margin-top: 20px;
    }
  }
}