.container {
  .float-button {
    position: fixed;
    bottom: 22px;
    right: 22px;
    padding: 10px;
    background-color: $white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);

    a {
      color: $green;
      text-decoration: none;
    }
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 30px;

    .section-title {
      font-size: 2.2em;
      color: $white;
    }
  }
}

.background-green {
  background-color: $green;
}

.background-white {
  background-color: $white;
}