.interatividade {
  .section-title {
    margin-bottom: 28px;
  }

  .interatividade-conteudo {
    width: 90%;
    display: flex;
    justify-content: space-around;

    p {
      margin-right: 18px;
      text-align: justify;
      color: $white;
    }
  }
}