.praticidade {
  .page-title {
    margin-bottom: 30px;
    font-size: 2.2em;
    color: $white;
  }

  .praticidade-conteudo {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      max-width: 600px;
    }

    p {
      margin: 15px 0;
      text-align: justify;
      color: $white;
    }
  }

  .logos-container {
    width: 100%;
    padding: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
      width: 120px;
    }
  }

  .logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 400px;
      margin-bottom: 15px;
    }

    button {
      background-color: $white;
      border: none;
      border-radius: 2px;
      font-size: 16px;
      font-weight: bold;
      padding: 8px;
      transition: .2s;

      a {
        color: $green;
        text-decoration: none;
      }

      &:hover {
        cursor: pointer;
        opacity: .8;
      }
    }
  }
}