* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

.container .float-button {
  position: fixed;
  bottom: 22px;
  right: 22px;
  padding: 10px;
  background-color: #f5f5f5;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); }
  .container .float-button a {
    color: #007b36;
    text-decoration: none; }

.container section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 30px; }
  .container section .section-title {
    font-size: 2.2em;
    color: #f5f5f5; }

.background-green {
  background-color: #007b36; }

.background-white {
  background-color: #f5f5f5; }

.praticidade .page-title {
  margin-bottom: 30px;
  font-size: 2.2em;
  color: #f5f5f5; }

.praticidade .praticidade-conteudo {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .praticidade .praticidade-conteudo div {
    max-width: 600px; }
  .praticidade .praticidade-conteudo p {
    margin: 15px 0;
    text-align: justify;
    color: #f5f5f5; }

.praticidade .logos-container {
  width: 100%;
  padding: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .praticidade .logos-container img {
    width: 120px; }

.praticidade .logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .praticidade .logo-container img {
    width: 400px;
    margin-bottom: 15px; }
  .praticidade .logo-container button {
    background-color: #f5f5f5;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
    transition: .2s; }
    .praticidade .logo-container button a {
      color: #007b36;
      text-decoration: none; }
    .praticidade .logo-container button:hover {
      cursor: pointer;
      opacity: .8; }

.funcionalidades .section-title {
  margin-bottom: 28px;
  color: #000 !important; }

.funcionalidades .funcionalidades-conteudo {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px; }

.funcionalidades img {
  width: 100%; }

.funcionalidades .funcionalidade-item p {
  text-align: center;
  margin-top: 20px; }

.interatividade .section-title {
  margin-bottom: 28px; }

.interatividade .interatividade-conteudo {
  width: 90%;
  display: flex;
  justify-content: space-around; }
  .interatividade .interatividade-conteudo p {
    margin-right: 18px;
    text-align: justify;
    color: #f5f5f5; }

.final .section-title {
  margin-bottom: 22px;
  color: #000 !important; }

.final .section-subtitle {
  margin-bottom: 15px; }

.final .final-conteudo {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .final .final-conteudo p {
    text-align: center;
    margin-bottom: 40px; }
  .final .final-conteudo .social-icons {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
